@import 'mixins.scss';

.seek-placeholder {
    height: 65px;
    width: 100%;
}

.history {
    display: none;
}

.track-list {

    width: 100%;
    overflow-x: hidden;

    &-button {
        width: 100%;
    }

    .overlay {
        @include acrylic;

        height: 100%;
        width: 100%;

        position: absolute;

        z-index: 1;
    }

    &-item {
        width: 100%;
        height: 65px;
        position: relative;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 10pt;

        &-data {
            padding: 5px;
            height: 100%;
            width: 100%;

            display: flex;
            flex-direction: column;
            text-align: left;
        }
    }
}